<template>
  <div class="nav-menu d-print-none">
    <b-nav v-b-scrollspy>
      <b-nav-item href="#deviceOverview" class="hide-mobile"
        ><g-image
          class="dark-invert-40"
          src="~/assets/img/symbols/phone.svg"
          title="Report Bug"
        />
        <span>Overview</span></b-nav-item
      >
      <b-nav-item
        v-if="availableData.portStatus"
        class="hide-mobile"
        href="#portStatus"
      >
        <g-image
          class="dark-invert-40"
          src="~/assets/img/symbols/reception-3.svg"
          title="Features & Usability"
        />
        <span>Features & Usability</span></b-nav-item
      >
      <b-nav-item
        v-if="availableData.helpWanted"
        class="hide-mobile"
        href="#helpWanted"
        ><g-image
          class="dark-invert-40"
          src="~/assets/img/symbols/question-diamond-fill.svg"
          title="Help Test"
        />
        <span>Help Test</span></b-nav-item
      >
      <b-nav-item
        v-if="availableData.deviceSpec"
        class="hide-mobile"
        href="#deviceSpec"
        ><g-image
          class="dark-invert-40"
          src="~/assets/img/symbols/cpu.svg"
          title="Specifications"
        />
        <span>Specifications</span></b-nav-item
      >
      <b-nav-item
        v-if="availableData.docLinks"
        class="hide-mobile"
        href="#docLinks"
      >
        <g-image
          class="dark-invert-40"
          src="~/assets/img/symbols/person-badge.svg"
          title="Contributors"
        />
        <span>Related Docs</span></b-nav-item
      >
      <b-nav-item
        v-if="availableData.portContributors"
        class="hide-mobile"
        href="#portContributors"
        ><g-image
          class="dark-invert-40"
          src="~/assets/img/symbols/person-badge.svg"
          title="Contributors"
        />
        <span>Contributors</span></b-nav-item
      >
      <b-nav-item
        v-if="availableData.installerDownload"
        class="hide-mobile"
        href="#installerDownload"
        ><g-image
          class="dark-invert-40"
          src="~/assets/img/symbols/cloud-arrow-down.svg"
          title="UBports Installer"
        />
        <span>UBports installer</span></b-nav-item
      >
      <b-nav-item v-b-toggle.solvebar>
        <g-image
          class="dark-invert-40"
          src="~/assets/img/symbols/flag.svg"
          title="Report Bug"
        />
        <span>Report Bug</span></b-nav-item
      >
      <b-nav-item v-if="availableData.discussionsbar" v-b-toggle.discussionsbar>
        <g-image
          class="dark-invert-40"
          src="~/assets/img/symbols/community.svg"
          title="Device Community"
        />
        <span>Community</span></b-nav-item
      >
    </b-nav>
  </div>
</template>

<script>
import { BNav, BNavItem, VBScrollspy, VBToggle } from "bootstrap-vue";

export default {
  name: "NavMenu",
  components: {
    BNav,
    BNavItem
  },
  directives: {
    "b-scrollspy": VBScrollspy,
    "b-toggle": VBToggle
  },
  props: {
    availableData: {
      type: Object,
      default: function () {
        return {
          portStatus: false,
          deviceSpec: false,
          helpWanted: false,
          docLinks: false,
          portContributors: false,
          installerDownload: false,
          discussionsbar: false
        };
      }
    }
  }
};
</script>
